gpg.key
manageAdmins.py
dump.sql
main.env
postgresql-18.1-3-windows-x64.exe
queue_project.md
Статистика для очереди 2-1776781181260.json
Статистика для очереди.json
Статистика для очереди-1775663715724.json

PostgreSQL/
__pycache__
queue/tts/cache/
queue/media/playlist.json
queue/media/